
.icon-mail:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-code-1:before { content: '\e80c'; } /* '' */
.icon-camera-alt:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-pencil-1:before { content: '\e80f'; } /* '' */
.icon-pencil-2:before { content: '\e810'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */